@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-link {
        height: 100%;
        padding: 0 2rem;
        display: grid;
        place-items: center;
        border-bottom: 0.1rem solid transparent;
    }

    .custom-shadow {
        box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.2);
    }

    .card-button {
        height: 3.5rem;
        width: 3.5rem;
        margin-bottom: 0.5rem;
        color: #4b504c;
        background-color: #fff;
        border-radius: 20%;
        border: 1px solid #ededed;
    }
}

/******************** custom css ********************/
:root {
    --nav-height: 7rem;
    --z-nav: 100;
    --z-overlay: 200;
    --z-drawer: 300; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS';
    /* font-family: 'Poppins', sans-serif; */
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    outline: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}